<!-- You can modify this HTML -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page Title</title>
    <link rel="icon" href="galaxy.ico" type="image/x-icon"> <!-- Page favicon -->
    <link rel="stylesheet" type="text/css" href="styles.css">
   
</head>
<body>
    <div class="container">
        <div class="banner">
            <img src="banner.webp" alt="UHC Banner" class="centered-image">
        </div>
        <div class="event-details">
            <h2 style="font-family: 'Minecraftia', sans-serif;">HTML File</h2>
            <p><strong>A Date:</strong> 04/05/2024 </p>
            <p><strong>List:</strong></p>
            <ul> 
                <li>Hello World, This Is A List.</li>
                <li>1234.</li>
            </ul>
        </div>
    </div>
    <footer>
        <p>Minecraft/HTTP Server Developed By: <a href="https://github.com/PixlGalaxy">PixlGalaxy</a></p>
        <p>Developed Using Python & Socket</p>
    </footer>
    
</body>
</html>
